Repository gemini-hlsw/lucuma-core, pull requests merged in 2022-05, with the labels that each got.

#517 Add DatasetQaState
  modules/core/shared/src/main/scala/lucuma/core/enum/DatasetQaState.scala
Labels: core

#518 Add additional syntax for java.time.Duration
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
Labels: core

#521 Fix for proper motion calculation considering the value from catalogs is
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiderealTrackingSuite.scala
  project/build.properties
Labels: core, tests

#522 Add offsetBy operation
  modules/core/shared/src/main/scala/lucuma/core/math/Coordinates.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
Labels: core, tests

#523 Add Proposal and associated classes/tests
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enum/ProposalClass.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Proposal.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalClass.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposal.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalClass.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalClassSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalSuite.scala
Labels: core, testkit, tests

#525 advanced config calculations
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coverage.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/GmosCcdMode.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbCoverage.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoverageSuite.scala
Labels: core, testkit, tests

#526 Add PosAngle model and a few small changes
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enum/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngle.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPosAngle.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/PosAngleSuite.scala
Labels: core, testkit, tests

#527 Add RefinedTypeOps for IntPercent
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Labels: core

#528 Move NonNegDuration from tmp-api and update ProposalClasses
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Proposal.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalClass.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/NonNegDurationOps.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/package.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbNonNegDuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposal.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalClass.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalClassSuite.scala
Labels: core, testkit, tests

#529 Add PosAngle constructors with wider type
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngle.scala
Labels: core
