Repository gemini-hlsw/lucuma-core, pull requests merged in 2022-07, with the labels that each got.

#551 Proper motion calculations
  .mergify.yml
  .scalafmt.conf
  build.sbt
  modules/benchmarks/src/main/scala/lucuma/core/ProperMotionBenchmark.scala
  modules/core/shared/src/main/scala/lucuma/core/math/ProperMotion.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ProperMotionSuite.scala
  project/build.properties
  project/plugins.sbt
Labels: core, tests

#553 Add `Optional` optics to ExposureTimeMode
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
Labels: core, tests

#555 Validation framework.
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/README.md
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidFormat.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/package.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidSplitEpiNec.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidSplitEpiNecInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbOffset.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/ValidSplitEpiProps.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/ValidWedgeProps.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/WedgeProps.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/FormatTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/SplitEpiTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/SplitMonoTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/SubgroupTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/ValidSplitEpiTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/ValidWedgeTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/WedgeTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/validation/MathValidatorsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidSplitEpiInstancesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidWedgeInstancesSuite.scala
Labels: core, testkit, tests

#556 Elevation range validators, Display.byTag, scientific notation normalization
  modules/core/shared/src/main/scala/lucuma/core/model/validation/ModelValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Display.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/validation/ModelValidatorsSuite.scala
Labels: core, tests

#562 Add validator for Epoch with no scheme
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/validation/MathValidatorsSuite.scala
Labels: core, tests

#563 Make AnyVal extensions vals private.
  modules/core/jvm/src/main/scala/lucuma/core/geom/jts/jvm/syntax/Awt.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/Offset.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessUnits.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/measure.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/unit.scala
  modules/core/shared/src/main/scala/lucuma/core/math/syntax/Int.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Lens.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Optional.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Prism.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Setter.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Display.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Parser.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/String.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/TreeMap.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/TreeSet.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/package.scala
  modules/testkit/src/main/scala/lucuma/core/util/laws/package.scala
Labels: core, testkit
