Repository gemini-hlsw/lucuma-core, pull requests merged in 2022-04, with the labels that each got.

#495 Add a diff method for coordinates
  modules/core/shared/src/main/scala/lucuma/core/math/Coordinates.scala
  modules/core/shared/src/main/scala/lucuma/core/math/CoordinatesDiff.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbCoordinatesDiff.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesDiffSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/EpochSuite.scala
Labels: core, testkit, tests

#498 Migrate Uid from lucuma-tmp-api
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ElevationRange.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Role.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/model/User.scala
  modules/core/shared/src/main/scala/lucuma/core/model/WithId.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Gid.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Uid.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConstraintSet.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbElevationRange.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbGid.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbUid.scala
  modules/testkit/src/main/scala/lucuma/core/util/laws/UidTests.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesDiffSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/dimensional/UnitSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ElevationRangeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/optics/OpticsSuite.scala
Labels: core, testkit, tests

#500 BrightnessValue -> BigDecimal
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enum/GpiObservingMode.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessUnits.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessValue.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbBrightnessValue.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BrightnessValueSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/dimensional/MeasureSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Labels: core, testkit, tests

#504 Bounding box
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/geom/BoundingOffsets.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/Jts.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
Labels: core, tests

#505 Add geometry for the ags field in gmos and group all the gmos geometries
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/tests/js/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Labels: core, tests

#506 Define bands with a start/center/end wavelengths
  modules/core/shared/src/main/scala/lucuma/core/enum/Band.scala
Labels: core

#507 Remove svg geom module
  build.sbt
  modules/core/js/src/main/scala/lucuma/core/geom/svg/package.scala
  modules/tests/js/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Labels: core, tests

#511 Add GuideSpeed enum
  modules/core/shared/src/main/scala/lucuma/core/enum/GuideSpeed.scala
Labels: core

#513 Partial sequence model.
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/geom/BoundingOffsets.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Atom.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionSequence.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/FutureExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/GmosCcdMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/GmosFpuMask.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/GmosGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/GmosNodAndShuffle.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ManualConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StaticConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Step.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepTime.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbAtom.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionSequence.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbFutureExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbGmosCcdMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbGmosFpuMask.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbGmosGrating.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbGmosNodAndShuffle.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbManualConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStep.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepTime.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/AtomSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DynamicConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionSequenceSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/FutureExecutionConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GmosCcdModeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GmosFpuMaskSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GmosGratingSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GmosNodAndShuffleSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ManualConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StaticConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepTimeSuite.scala
Labels: core, testkit, tests, skip-sc

#514 GmosGrating -> GmosGratingConfig
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/GmosGratingConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbGmosGratingConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DynamicConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GmosGratingConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GmosGratingSuite.scala
Labels: core, testkit, tests
