Repository gemini-hlsw/lucuma-core, pull requests merged in 2022-03, with the labels that each got.

#488 make GMOS disperser enumerated all values lazy
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthDisperser.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthDisperser.scala
Labels: core

#489 Rename Gaia bands.
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enum/Band.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SpectralDefinition.scala
Labels: core

#490 Add ConstraintSet, ElevationRange.
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ConstraintSet.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ElevationRange.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConstraintSet.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbElevationRange.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ConstraintSetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ElevationRangeSuite.scala
Labels: core, testkit, tests

#492 Add BrightnessValue ring algebra
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessValue.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BrightnessValueSuite.scala
Labels: core, tests

#494 Add trigonometric functions to angle
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/AngleSuite.scala
Labels: core, tests

#493 Add Point shape
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/geom/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessValue.scala
  modules/testkit/src/main/scala/lucuma/core/geom/arb/ArbShapeExpression.scala
Labels: core, testkit
