Repository gemini-hlsw/lucuma-core, pull requests merged in 2022-06, with the labels that each got.

#538 Remove PosAngle unconstrained
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngleConstraint.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPosAngleConstraint.scala
Labels: core, testkit

#544 A few enums were not renamed
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/DatasetQaState.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/DatasetStage.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObsActiveStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SequenceCommand.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/StepStage.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/ObsActiveSuite.scala
Labels: core, tests

#546 Move ExposureTimeMode from lucuma-tmp-api
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
Labels: core, testkit, tests
