Repository gemini-hlsw/lucuma-core, pull requests merged in 2023-04, with the labels that each got.

#699 Avoid errors and warnings
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ElevationRange.scala
Labels: core

#700 SignalToNoise
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/SignalToNoise.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbSignalToNoise.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/SignalToNoiseSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
Labels: core, testkit, tests

#703 Add PosBigDecimal optics to SignalToNoise
  .scalafmt.conf
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/SignalToNoise.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbSignalToNoise.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/SignalToNoiseSuite.scala
Labels: core, testkit, tests

#704 Rename Attachment.Id to ObsAttachment.Id
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
Labels: core

#705 Update JTS and test a bug present on the previous JTS port
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
Labels: core, tests

#707 TimeSpan math ops
  modules/core/shared/src/main/scala/lucuma/core/refined/numeric.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimeSpanSuite.scala
Labels: core, tests

#712 Allow Typescript sources to be copied into npm package
  build.sbt
  modules/npm/src/main/typescript/main.d.ts
Labels: npm

#711 Allow SignalToNoise to be zero
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/SignalToNoise.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbSignalToNoise.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/SignalToNoiseSuite.scala
Labels: core, testkit, tests

#714 Timing window model
  modules/core/shared/src/main/scala/lucuma/core/enums/TimingWindowInclusion.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
Labels: core
