Repository gemini-hlsw/lucuma-core, pull requests merged in 2023-02, with the labels that each got.

#657 BoundedInterval
  modules/core/shared/src/main/scala/lucuma/core/instances/BoundedIntervalInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/all.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/TwilightCalc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/ConstraintSolver.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Samples.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Solver.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Night.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservingNight.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TwilightBoundedNight.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/Spire.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbInterval.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalGens.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/TwilightCalcSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/ConstraintSolverSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SamplesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SolverSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/TargetSamplesSuite.scala
Labels: core, testkit, tests

#659 GMOS acquisition filter options
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
Labels: core

#662 Zipper focus ops
  modules/core/shared/src/main/scala/lucuma/core/data/Zipper.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/ZipperSuite.scala
Labels: core, tests

#663 ValidFilter + value in errors
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/validation/ModelValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidFormat.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/package.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
Labels: core

#664 WavelengthCoverage
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coverage.scala
  modules/core/shared/src/main/scala/lucuma/core/math/WavelengthCoverage.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidFilter.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbCoverage.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbWavelength.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbWavelengthCoverage.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoverageSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthCoverageSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDitherSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GmosGratingConfigSuite.scala
Labels: core, testkit, tests

#671 Refine BrightnessValue, add LimitedBigDecimals trait
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SourceProfile.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbBrightnessValue.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbRefined.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/LimitedBigDecimals.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbElevationRange.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEmissionLine.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUnnormalizedSED.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbGmosFpuMask.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbGmosNodAndShuffle.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDitherSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthRangeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ConstraintSetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ElevationRangeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EmissionLineSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UnnormalizedSEDSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GmosFpuMaskSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GmosNodAndShuffleSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/optics/OpticsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidSplitEpiInstancesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidWedgeInstancesSuite.scala
Labels: core, testkit, tests

#672 Add `truncatedAngleSignedArcSec` to MathValidators
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/validation/MathValidatorsSuite.scala
Labels: core, tests

#681 Add average parallactic calculation
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
Labels: core
