Repository gemini-hlsw/lucuma-core, pull requests merged in 2023-05, with the labels that each got.

#716 Add Group.Id
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
Labels: core

#718 Experimentally export a method to get the night plot data in js/ts
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/npm/src/main/scala/lucuma/core/Foo.scala
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/main/typescript/main.d.ts
Labels: core, npm

#717 Timing windows arbitraries, optics, renames
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTimingWindow.scala
Labels: core, testkit

#719 Add TimingWindow.toIntervalSeq method
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
Labels: core

#723 Zipper Updates
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/data/EnumZipper.scala
  modules/core/shared/src/main/scala/lucuma/core/data/Zipper.scala
  modules/testkit/src/main/scala/lucuma/core/data/ArbZipper.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/ZipperSuite.scala
Labels: core, testkit, tests

#724 Angle and Offset updates
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Offset.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/AngleSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/OffsetSuite.scala
Labels: core, tests

#725 Define amp count options
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthDetector.scala
Labels: core

#726 Planned time enums
  modules/core/shared/src/main/scala/lucuma/core/enums/ChargeClass.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObserveClass.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/ObserveClassSuite.scala
Labels: core, tests

#727 Planned time model classes
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ConfigChangeEstimate.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DatasetEstimate.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DetectorEstimate.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/PlannedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepEstimate.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbConfigChangeEstimate.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDatasetEstimate.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDetectorEstimate.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbPlannedTime.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepEstimate.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ConfigChangeEstimateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DatasetEstimateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DetectorEstimateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/PlannedTimeSuite.scala
Labels: core, testkit, tests

#728 SetupTime
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SetupTime.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSetupTime.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SetupTimeSuite.scala
Labels: core, testkit, tests

#731 Restrict the values that exposure count overrides to 1 or more
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
Labels: core, testkit

#732 Canonical Order for TimingWindows
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TimingWindowSuite.scala
Labels: core, tests
