Repository gemini-hlsw/lucuma-core, pull requests merged in 2023-01, with the labels that each got.

#638 WavelengthDither
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Disperser.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Filter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsDisperserOrder.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GsaoiFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coverage.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/core/shared/src/main/scala/lucuma/core/math/WavelengthDither.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbWavelengthDither.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDitherSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
Labels: core, testkit, tests

#642 Add diff method to wavelength
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/core/shared/src/main/scala/lucuma/core/math/WavelengthDither.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDitherSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
Labels: core, tests

#644 fix crash in AirMass class init
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ElevationRange.scala
Labels: core

#647 TimeSpan
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/F2ReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GsaoiFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GsaoiReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalClass.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ManualConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepTime.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/timespan/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalClass.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbManualConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepTime.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimeSpan.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalClassSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DynamicConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ManualConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepTimeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimeSpanSuite.scala
Labels: core, testkit, tests

#646 Add `Unbounded` to PosAngleConstraint
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngleConstraint.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPosAngleConstraint.scala
Labels: core, testkit

#652 Convenience methods for TimeSpan
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
Labels: core

#656 Limit arbitrary atom and sequence size
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbAtom.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionSequence.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/util.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/AtomSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionSequenceSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/FutureExecutionConfigSuite.scala
Labels: testkit, tests
