Repository gemini-hlsw/lucuma-core, pull requests merged in 2023-07, with the labels that each got.

#758 move extinction from odb to here
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExtinctionSuite.scala
Labels: core, tests

#762 Geom improvements
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/geom/Area.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/Offset.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coordinates.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Offset.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
Labels: core

#767 ExecutionDigest
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionDigestSuite.scala
Labels: core, testkit, tests

#769 Remove digest artifacts from sequence
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionSequence.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionSequence.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
Labels: core, testkit, tests
