Repository gemini-hlsw/lucuma-core, pull requests merged in 2023-10, with the labels that each got.

#810 GMOS binning calculation
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/longslit/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Labels: core, tests

#813 Switch to dataset ids starting with 1 instead of 0.
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Dataset.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDataset.scala
Labels: core, testkit

#815 Add scalar angle multiplication
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/AngleSuite.scala
Labels: core, tests

#817 Add duration parameter to average parallactic angle calculation method
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
Labels: core

#819 Dataset Id
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Dataset.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDataset.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DatasetSuite.scala
Labels: core, testkit, tests
