Repository gemini-hlsw/lucuma-core, pull requests merged in 2023-08, with the labels that each got.

#771 Remove seqexec only enums
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/DhsKeywordName.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatusApply.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/KeywordName.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/EnumeratedSuite.scala
Labels: core, tests

#775 PlannedTimeRange
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/PlannedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/PlannedTimeRange.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbPlannedTimeRange.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/PlannedTimeRangeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/PlannedTimeSuite.scala
Labels: core, testkit, tests

#776 StepEstimate scala doc
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepEstimate.scala
Labels: core

#781 Fix issue 780
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Dataset.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DatasetSuite.scala
Labels: core, tests

#778 Add an `ObjectTracking` for tracking asterisms of more than one target
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ObjectTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/TrackingOps.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/package.scala
Labels: core

#786 Method to calculate parallctic anglee for a given object
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
Labels: core

#787 Move config methods from odb
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/longslit/package.scala
Labels: core

#788 Add method isIFU
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFpu.scala
Labels: core
