Repository gemini-hlsw/lucuma-core, pull requests merged in 2023-11, with the labels that each got.

#827 KeyDecoder/KeyEncoder for WithUid.Id/WithGid.Id
  modules/core/shared/src/main/scala/lucuma/core/util/Gid.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Uid.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/AtomSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepSuite.scala
Labels: core, tests

#826 Add ObjectTracking.constant
  modules/core/shared/src/main/scala/lucuma/core/model/ObjectTracking.scala
Labels: core

#829 Shortcut `plusYears` for unmoving SiderealTracking
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiderealTrackingSuite.scala
Labels: core, tests

#830 `TimestampInterval` and `TimestampUnion`
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampUnion.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimestamp.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimestampInterval.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimestampUnion.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampIntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampUnionSuite.scala
Labels: core, testkit, tests

#831 ExecutionEvent
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExecutionEventSuite.scala
Labels: core, testkit, tests

#833 Add `intersection` and `timeBetween` to TimestampInterval
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampIntervalSuite.scala
Labels: core, tests

#835 Change `TimestampInterval.minus` wrt "empty" intervals.
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampIntervalSuite.scala
Labels: core, tests

#837 Night Syntax
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/NightOps.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/package.scala
Labels: core
