Repository gemini-hlsw/lucuma-core, pull requests merged in 2024-11, with the labels that each got.

#972 Convenience methods to build GmosCcdMode instances
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/GmosCcdMode.scala
Labels: core

#973 Add execution state to sequence digest
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ExecutionState.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationExecutionState.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
Labels: core, testkit

#976 Changes to support emission lines throughout, especially ITC
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/syntax.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SourceProfile.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SpectralDefinition.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Display.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/dimensional/MeasureSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
Labels: core, tests
