Repository gemini-hlsw/lucuma-core, pull requests merged in 2024-12, with the labels that each got.

#979 `UserProfile`
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/OrcidId.scala
  modules/core/shared/src/main/scala/lucuma/core/model/OrcidProfile.scala
  modules/core/shared/src/main/scala/lucuma/core/model/UserProfile.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbOrcidProfile.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUserProfile.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UserProfileSuite.scala
Labels: core, testkit, tests

#983 Add AttachmentType and AttachmentPurpose enums
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/AttachmentPurpose.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/AttachmentType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
Labels: core

#984 Add calculations to find if RA/Dec are within limits
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/SiteCoordinatesLimits.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSiteCoordinatesLimits.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiteCoordinatesLimits.scala
Labels: core, testkit, tests

#986 Add lenses for ConfigurationRequest
  modules/core/shared/src/main/scala/lucuma/core/model/ConfigurationRequest.scala
Labels: core

#987 Move logic from odb to core
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SiteCoordinatesLimits.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbCallCoordinatesLimits.scala
Labels: core, testkit

#991 ProgramUser
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
Labels: core

#990 Only provide Eq for NewType if there is no Order instance
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
Labels: core

#993 Remove Eq for AttachmentType since it also is Enumerated
  modules/core/shared/src/main/scala/lucuma/core/enums/AttachmentType.scala
Labels: core

#999 Add lenses for UserProfile
  modules/core/shared/src/main/scala/lucuma/core/model/UserProfile.scala
Labels: core
