Repository gemini-hlsw/lucuma-core, pull requests merged in 2024-08, with the labels that each got.

#924 Migrate CalibrationRole from ODB
  modules/core/shared/src/main/scala/lucuma/core/enums/CalibrationRole.scala
Labels: core

#923 Add degree hms/dms utils to npm package
  .github/workflows/ci.yml
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/main/typescript/main.d.ts
Labels: core, npm

#925 Allow the average parallactic angle to have a fallback airmass parameter
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/ImprovedSkyCalc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/ImprovedSkyCalcMethods.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Samples.scala
  modules/tests/jvm/src/test/scala/lucuma/core/math/skycalc/ImprovedSkyCalcSuiteJVM.scala
Labels: core, tests

#926 + `PartnerLink`, `ProgramUserRole`
  modules/core/shared/src/main/scala/lucuma/core/enums/PartnerLinkType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramUserRole.scala
  modules/core/shared/src/main/scala/lucuma/core/model/PartnerLink.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPartnerLink.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/PartnerLinkSuite.scala
Labels: core, testkit, tests

#934 Handle negative LST again
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/ImprovedSkyCalcMethods.scala
Labels: core

#937 Some extra enums
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/EducationalStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Gender.scala
Labels: core
