Repository gemini-hlsw/lucuma-core, pull requests merged in 2024-10, with the labels that each got.

#950 Added BoundedTime, Timestamp + TimeSpan
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/BandedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Timestamp.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbBandedTime.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/BandedTimeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampSuite.scala
Labels: core, testkit, tests

#952 Add an arbitrary for UserInvitation.Id
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUserInvitation.scala
Labels: testkit

#954 Move the configuration request types from the ODB for use in explore.
  modules/core/shared/src/main/scala/lucuma/core/enums/ConfigurationRequestStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ConfigurationRequest.scala
Labels: core

#955 Change ConfigurationRequestStatus.tag to lowercase to match DB
  modules/core/shared/src/main/scala/lucuma/core/enums/ConfigurationRequestStatus.scala
Labels: core

#956 Add Eq instance for ConfigurationRequest
  modules/core/shared/src/main/scala/lucuma/core/model/ConfigurationRequest.scala
Labels: core

#959 Add arbitraries for ConfigurationRequest and friends.
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfigurationRequest.scala
Labels: core, testkit

#961 Add specific ObservationValidationCodes for ConfigurationRequests
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Labels: core

#962 Add observation execution state
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationExecutionState.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
Labels: core

#963 fix keyboard flub
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
Labels: core

#964 move workflow classes into core
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationWorkflowState.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationWorkflow.scala
Labels: core

#965 Add optics and arbitrary for ObservationWorkflow
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationWorkflow.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbObservationWorkflow.scala
Labels: core, testkit

#966 Change names of configuration request observation validations
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
Labels: core

#968 Offset for Every Step
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Step.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/TelescopeConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStep.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbTelescopeConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepSuite.scala
Labels: core, testkit, tests
