Repository gemini-hlsw/lucuma-core, pull requests merged in 2024-06, with the labels that each got.

#905 Make dayTimeMode optional
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/GuideConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TelescopeGuideConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTelescopeGuideConfig.scala
Labels: core, testkit

#906 Move a few things from the ODB
  modules/core/shared/src/main/scala/lucuma/core/enums/CallForProposalsType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Labels: core

#907 Add Arb and Eq for ObservationValidation
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbObservationValidation.scala
Labels: core, testkit

#911 Add program type system
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProgramReference.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProgramReference.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProgramReferenceSuite.scala
Labels: core, testkit, tests
