Repository gemini-hlsw/lucuma-core, pull requests merged in 2024-05, with the labels that each got.

#891 Add poor weather (P) science subtype
  modules/core/shared/src/main/scala/lucuma/core/enums/ScienceSubtype.scala
Labels: core

#893 Move `Partner` to `enums` package
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Partner.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Partner.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Proposal.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Role.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposal.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbRole.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/PartnerSuite.scala
Labels: core, testkit, tests

#900 Update some libs
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/LocalObservingNight.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
Labels: core, tests
