Repository gemini-hlsw/lucuma-core, pull requests merged in 2024-04, with the labels that each got.

#882 Lenses and convenience type aliases for seq model
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
Labels: core

#883 Move some types and functions from explore that should be in core
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/data/EmailAddress.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/InvitationStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/RoleType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
  modules/core/shared/src/main/scala/lucuma/core/model/UserInvitation.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/testkit/src/main/scala/lucuma/core/data/ArbEmailAddress.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUserInvitation.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/EmailAddressSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UserInvitationSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimeSpanSuite.scala
Labels: core, testkit, tests

#881 Claim 'c' for Call for Proposals
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
Labels: core, tests

#885 ShortCut 2772
  modules/core/shared/src/main/scala/lucuma/core/enums/ImageQuality.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/ImageQualitySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Labels: core, tests

#886 Fix objectSize calculation for Gaussian profile
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Labels: core, tests

#887 Add EmailStatus, token extension method to UserInvitation
  modules/core/shared/src/main/scala/lucuma/core/enums/EmailStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/model/UserInvitation.scala
Labels: core

#889 Fix UserInvitation.token
  modules/core/shared/src/main/scala/lucuma/core/model/UserInvitation.scala
Labels: core

#890 Atom Events
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/AtomStage.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Timestamp.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExecutionEventSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampSuite.scala
Labels: core, testkit, tests
