Repository gemini-hlsw/lucuma-core, pull requests merged in 2025-03, with the labels that each got.

#1032 ITC now supports more SEDs
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/AsterismType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/AtomStage.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Breakpoint.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/CalibrationRole.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ChargeClass.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/CoolStarTemperature.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/DatasetQaState.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/DatasetStage.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/EphemerisKeyType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/EventType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/FieldLens.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/FilterType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/FocalPlane.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GalaxySpectrum.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalArc.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalBaselineType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalContinuum.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalDiffuser.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalLampType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalShutter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosAdc.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosAmpCount.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/LightSinkName.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/M1Source.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/MosPreImaging.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/StellarLibrarySpectrum.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Enumerated.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
Labels: core

#1033 Add CustomSedAttachment
  modules/core/shared/src/main/scala/lucuma/core/model/UnnormalizedSED.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUnnormalizedSED.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UnnormalizedSEDSuite.scala
Labels: core, testkit, tests

#1035 Improve screaming case to handle dots and dashes
  modules/core/shared/src/main/scala/lucuma/core/enums/StellarLibrarySpectrum.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/String.scala
Labels: core

#1041 Change date format to YYYY-MM-dd for dateToLocalObservingNight
  modules/npm/src/main/scala/lucuma/core/exports.scala
Labels: npm

#1043 Shortcut 4671: Add `ProgramNote` ids
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
Labels: core

#1037 Shortcut 4428: Remove (most) obsolete flags
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalArc.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalContinuum.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalDiffuser.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalShutter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthStageMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosRoi.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthStageMode.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Labels: core, tests

#1055 Shortcut 4994: remove partner time
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ChargeClass.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObserveClass.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/CategorizedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/PlannedTime.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/CategorizedTimeSuite.scala
Labels: core, tests, expected-breaking-change

#1053 [Shortcut 4973] Add `DeclaredComplete` execution state
  modules/core/shared/src/main/scala/lucuma/core/enums/ExecutionState.scala
Labels: core

#1062 Add some more `InputValidSplitEpi` instances
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/LimitedBigDecimals.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidSplitEpiInstancesSuite.scala
Labels: core, testkit, tests

#1063 Remove Bhros, Michelle, Nici, Nifs, Phoenix, Trecs
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
Labels: core

#1065 Improvements to NewType and BigDecimal refined typeclasses
  build.sbt
  modules/catalog-testkit/src/main/scala/lucuma/ags/arb/ArbGuideStarCandidate.scala
  modules/catalog-testkit/src/main/scala/lucuma/catalog/arb/ArbBrightnessConstraints.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ComaOption.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/MountGuideOption.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/gems.scala
  modules/core/shared/src/main/scala/lucuma/core/model/GuideConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/testkit/src/main/scala/lucuma/core/arb/package.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbBrightnessValue.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbFluxDensityContinuumValue.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbLineFluxValue.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbLineWidthValue.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbRefined.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEmissionLine.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbGemsConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbM2GuideConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTelescopeGuideConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUnnormalizedSED.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbNewType.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDeltaSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EmissionLineSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidWedgeInstancesSuite.scala
Labels: core, testkit, tests, catalog-testkit
