Repository gemini-hlsw/lucuma-core, pull requests merged in 2025-05, with the labels that each got.

#1099 CalculatedValue
  modules/core/shared/src/main/scala/lucuma/core/util/CalculatedValue.scala
  modules/core/shared/src/main/scala/lucuma/core/util/CalculationState.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbCalculatedValue.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/CalculatedValueSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/CalculationStateSuite.scala
Labels: core, testkit, tests

#1100 F2 Filters always have a wavelength
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Filter.scala
Labels: core

#1103 Add enum
  modules/core/shared/src/main/scala/lucuma/core/enums/ProposalSupportRole.scala
Labels: core

#1102 Shortcut 4365: Add F2 sequence definitions
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbInstrumentExecutionConfig.scala
Labels: core, testkit

#1105 Add GMOS imaging observing mode type
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/GmosCcdMode.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/MiscParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/util/CalculatedValue.scala
Labels: core

#1106 Shortcut 4365: Remove custom slit width from static config
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/f2/F2StaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbF2StaticConfig.scala
Labels: core, testkit

#1107 Sample for Gmos imaging geometry
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Labels: tests

#1110 Shortcut 4365: `Flamingos2DynamicConfig` updates
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Flamingos2Filter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Flamingos2ReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/Flamingos2DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/Flamingos2FpuMask.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbFlamingos2DynamicConfig.scala
Labels: core, testkit

#1111 Fix small typo in F2StaticConfig
  build.sbt
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/Flamingos2StaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbFlamingos2StaticConfig.scala
Labels: core, testkit, catalog-tests

#1113 SC-5657 TOO targets part 1
  modules/benchmarks/src/main/scala/lucuma/core/ProperMotionBenchmark.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Angular.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Arc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Region.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbArc.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbRegion.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ArcSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/RegionSuite.scala
Labels: core, testkit, tests, benchmarks, catalog-tests
