Repository gemini-hlsw/lucuma-core, pull requests merged in 2025-01, with the labels that each got.

#1001 add justification field
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ConfigurationRequest.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfigurationRequest.scala
Labels: core, testkit

#1002 Define F2 LongSlit/Imaging geometry
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Fpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2LyotWheel.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/PortDisposition.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Labels: core, tests

#1003 Add support for F2-MOS
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Decker.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Fpu.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Offset.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Labels: core, tests

#1004 Create F2 Static Config
  modules/core/shared/src/main/scala/lucuma/core/enums/F2CustomSlitWidth.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/f2/F2StaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbF2StaticConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/f2/F2StaticConfigSuite.scala
Labels: core, testkit, tests

#1007 Add F2 dynamic config model
  modules/core/shared/src/main/scala/lucuma/core/enums/F2CustomSlitWidth.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Decker.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Disperser.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Filter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Fpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2LyotWheel.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2ReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2ReadoutMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Reads.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2WindowCover.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosDtax.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/f2/F2DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/f2/F2FpuMask.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbF2DynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbF2FpuMask.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/f2/F2DynamicConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/f2/F2StaticConfigSuite.scala
Labels: core, testkit, tests

#1010 Add F2 OIWFS probe
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideProbe.scala
Labels: core

#1014 Add methods to calculate the likelihood of conditions
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/math/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ConstraintSet.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
Labels: core, tests

#1019 Fix edge case
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
Labels: core, tests

#1022 Make F2 Fpu tag match Gmos format
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Fpu.scala
Labels: core

#1021 ShortCut 1957: ExposureTimeMode Update
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
Labels: core, testkit, tests
