Repository gemini-hlsw/lucuma-core, pull requests merged in 2025-07, with the labels that each got.

#1136 Add units to ImageQuality label and Display
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
Labels: core

#1141 Add MultipleFiltersMode enum
  modules/core/shared/src/main/scala/lucuma/core/enums/MultipleFiltersMode.scala
Labels: core

#1146 Export JS functions to parse IDs
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/main/typescript/main.d.ts
Labels: npm

#1147 Add missing ID parsers
  build.sbt
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/main/typescript/main.d.ts
Labels: npm

#1152 Make AirMass.minumumFor return an Option
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
Labels: core, tests
