Repository gemini-hlsw/lucuma-core, pull requests merged in 2025-04, with the labels that each got.

#1067 Derived codecs for coulomb Quantity
  modules/core/shared/src/main/scala/lucuma/core/circe/coulomb/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/circe/coulomb/CoulombCodecsSuite.scala
Labels: core, tests

#1069 NewBoolean convenience methods
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
Labels: core

#1072 Provide method for finding anglesToTestAt with known APA
  modules/ags/src/main/scala/lucuma/ags/package.scala
Labels: ags

#1073 Update http client
  build.sbt
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryPMApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadQueryApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
Labels: catalog-tests

#1074 Add F2 long slit mode
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
Labels: core

#1075 General CloudExtinction percentile, code reorganization, model tweaks
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/GuideStarName.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/GuideStarNameSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/LimitsSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/core/shared/src/main/scala/lucuma/core/data/EmailAddress.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SkyBackground.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/WaterVapor.scala
  modules/core/shared/src/main/scala/lucuma/core/math/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Constraint.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/ConstraintSolver.scala
  modules/core/shared/src/main/scala/lucuma/core/model/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ConstraintSet.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ElevationRange.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/model/UserInvitation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/validation/ModelValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/refined/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbRefined.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbElevationRange.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbNewType.scala
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/EmailAddressSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ConstraintSetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ElevationRangeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ImageQualitySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/validation/ModelValidatorsSuite.scala
Labels: core, testkit, tests, ags, catalog-tests

#1076 Add some logic to F2 enums
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Decker.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2ReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2WindowCover.scala
Labels: core

#1082 Convert more old enumerations to enums
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthStageMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthStageMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/package.scala
Labels: core

#1085 Move pixel scala calculations from explore
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Labels: core

#1087 Add the default PA mode for mode types
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
Labels: core

#1089 Add units to F2 enums
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Fpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2LyotWheel.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/syntax/units.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
Labels: core

#1090 F2 geom
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2CandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosPatroField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Labels: core, tests, ags

#1092 Restore removed functions and covert more enums
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosAmpGain.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosAmpReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosCustomSlitWidth.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosDtax.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosEOffsetting.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
Labels: core

#1088 initial metadata
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/data/Availability.scala
  modules/core/shared/src/main/scala/lucuma/core/data/DisjointIntervalMap.scala
  modules/core/shared/src/main/scala/lucuma/core/data/Metadata.scala
  modules/core/shared/src/main/scala/lucuma/core/data/PerSite.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/InstantInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/all.scala
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/testkit/src/main/scala/lucuma/core/arb/ArbDiet.scala
  modules/testkit/src/main/scala/lucuma/core/arb/ArbRange.scala
  modules/testkit/src/main/scala/lucuma/core/data/ArbDisjointIntervalMap.scala
  modules/testkit/src/main/scala/lucuma/core/data/ArbPerSite.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/DisjointIntervalMapSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/PerSiteSuite.scala
Labels: core, testkit, tests, npm
