Repository gemini-hlsw/lucuma-core, pull requests merged in 2025-08, with the labels that each got.

#1157 Shortcut 5099: Add client id to execution events
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/Client.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
Labels: core, testkit, skip-sc

#1155 Shortcut 6292: Delete G5323
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
Labels: core, skip-sc

#1164 sc-4512 configuration updates
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObjectTracking.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Labels: core, testkit
